{% extends 'base.html' %}

{% block content %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">about page.......</h1>
                <p class="lead fw-normal text-white-50 mb-0">wellcome to soko!!!!</p>
            </div>
        </div>
    </header>

    <div class = "container">
        <div class = "row">
           <center>
             <div class="col-8">
                <br><br/>
                <P align = "justify"></P>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed sapien venenatis, fermentum turpis a, laoreet ligula. Sed posuere urna ut mi fermentum, vitae ultricies felis convallis. Praesent tortor nisi, sagittis nec tellus ac, rutrum bibendum augue. Nullam consequat, eros nec iaculis semper, velit risus dignissim libero, non accumsan justo arcu id velit. Praesent quis urna non ante laoreet eleifend eu eget nisl. Nulla sagittis augue vel scelerisque consectetur. Donec feugiat risus dui, ac semper metus molestie sit amet. Nulla facilisi. Vestibulum ligula neque, mattis ac consequat sed, sollicitudin a velit. Etiam dapibus rutrum interdum. Aenean luctus dui ex. Proin eleifend est eget ligula mollis convallis.

Proin ut imperdiet tortor, in pellentesque nunc. Maecenas hendrerit porttitor rhoncus. Nullam laoreet nisl eu hendrerit pretium. Maecenas hendrerit rutrum metus, vitae fermentum risus facilisis nec. Integer diam enim, cursus non varius finibus, vulputate nec nibh. Sed dapibus nibh posuere arcu sodales, eu convallis massa posuere. Aliquam sit amet aliquam magna, ut egestas neque. In id elit arcu. Phasellus ullamcorper tincidunt ante id ultrices.

Sed ac venenatis mi. Nulla id iaculis velit, nec gravida ex. Morbi dapibus, urna imperdiet bibendum vehicula, sem nisl venenatis erat, quis finibus turpis enim sed dui. Quisque venenatis vel arcu ac eleifend. Aenean sit amet arcu laoreet, rutrum sapien nec, consequat tortor. Quisque quis eros id tellus hendrerit aliquam at vel libero. Mauris vel nunc auctor, volutpat arcu vel, laoreet orci. Sed vitae eleifend tortor. Nunc maximus pellentesque egestas.
<br><br/>
Quisque ornare, libero ut suscipit placerat, lectus diam auctor ex, eget mollis risus felis eget nunc. Duis libero ex, pretium vel tortor finibus, hendrerit aliquam eros. Quisque varius egestas nisl et tempus. Sed nisi massa, consequat vitae lacinia vel, blandit ut leo. Nam lobortis dignissim condimentum. Aenean fermentum, odio in egestas hendrerit, erat tellus vestibulum erat, nec porta leo enim blandit eros. Phasellus sit amet fringilla nulla. Pellentesque ut lorem ac tortor rutrum congue nec et lorem. Sed quam augue, lobortis sit amet ante vel, viverra tempor purus. Phasellus et est ipsum. Nam sed fringilla nisi. Fusce pharetra sed felis auctor vulputate.

In porta, lectus ut convallis laoreet, justo magna hendrerit velit, at tincidunt tortor neque eget libero. Vestibulum vel tellus sed turpis eleifend gravida nec eget mauris. Aenean nec augue nec libero eleifend cursus. Maecenas eget nulla sit amet elit consequat tempus eu ac enim. Donec facilisis nulla sit amet justo vestibulum, non fringilla diam efficitur. Nam vel euismod orci. Sed eu lacus ultricies, placerat mi eu, scelerisque nunc.
</P>
<br><br/>
             </div>
           </center>
        </div>

    </div>



{% endblock %}
      